* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

/* CONTENT SECTION  */
.content {
  padding: 20px;
  text-align: center;
  /* border: 2px solid black; */
}

/* #################################### NAVBAR SECTION ############################################  */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: white;
  color: black !important;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* border: 2px solid blue; */
}
.navbar a {
  background-color: white;
  color: black;
  font-family: "Josefin Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-right: 20px;
}
.nav_logo a,
.footer_data h1 {
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 3px;
  border-bottom: none !important;
  font-size: 2rem !important;
}

.nav_logo a {
  /* color: white; */
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
  color: black;
}

.nav-link {
  /* color: white; */
  text-decoration: none;
  font-size: 18px;
}

.nav-link.active {
  border-bottom: 2px solid black;
}

/* Mobile styles */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  /* color: black; */
  margin-right: 20px;
}

.menu-toggle .bar {
  height: 3px;
  width: 25px;
  background-color: black;
  color: white;
  margin: 4px 0;
  transition: 0.4s;
}

.nav-links {
  transition: transform 0.4s ease-in-out;
  /* border: 2px solid red; */
}

.nav-links.active {
  transform: translateX(0);
}

@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    right: 0;
    top: 70px;
    height: 100vh;
    width: 100%;
    background-color: white;
    color: black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    gap: 30px;
  }

  .menu-toggle {
    display: flex;
  }

  .menu-toggle.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

/* ################################################ HERO SECTION ########################################  */

.success_hero {
  width: 100%;
  height: 600px;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: url(./assests/hero-success.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-left: 30px;
  gap: 20px;
  color: white;
  /* margin-bottom: 50px; */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.success_hero h1 {
  font-size: 3rem;
}

.success_hero p {
  font-size: 1.25rem;
}

/* ############################################# success project #############################  */

.service_choose_us {
  position: relative;
  background-image: url("./assests/success.jpg"); /* Replace with your actual image URL */
  background-size: cover;
  background-position: center;
  /* width: 100%;  */
  /* height: 100vh; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 30px 0px 30px 0px;
  /* background-attachment: fixed; */
  text-align: center;
  margin-bottom: 100px;
}

.service_choose_us::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.service_choose_us > * {
  position: relative;
  z-index: 2;
  color: white;
  padding: 20px;
}

.services_container {
  /* border: 2px solid red; */
  display: flex;
  width: 80%;
  gap: 50px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.services_child {
  max-width: 300px;
  height: 420px;
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 20px 10px;
  border: 1px solid white;
}

.services_child img {
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
}

.services_child h1 {
  margin-bottom: 10px;
}
/*  ######################################## FOOTER SECTION ####################################  */

.footer_wrapper {
  /* border: 2px solid red; */
  margin-top: 50px;
  width: 100%;
  /* padding: 20px; */
  border-radius: 20px 20px 0px 0px;
  /* background-color: #333; */
  background-color: #fff;
  /* background-color: #f7f7f7; */
}

/* ################################### Get In Touch ################################# */
.connection {
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
  /* background-color: lightskyblue; */
  /* background-image: linear-gradient(
      89.5deg,
      rgba(131, 204, 255, 1) 0.4%,
      rgba(66, 144, 251, 1) 100.3%
    ); */

  background-image: radial-gradient(
    circle 610px at 5.2% 51.6%,
    rgba(5, 8, 114, 1) 0%,
    rgba(7, 3, 53, 1) 97.5%
  );
  border-radius: 20px 20px 0px 0px;
}

.connection p {
  font-size: 1.25rem;
}
.connection img {
  width: 30px;
  height: 30px;
}

.connection li {
  list-style-type: none;
  display: inline-block;
  margin-left: 20px;
  color: white;
}
li {
  list-style-type: none;
}

a {
  text-decoration-line: none;
  color: white;
}

/* ############################### Footer data  Section ############################### */

.footer_data {
  display: flex;
  /* gap: 30px; */
  justify-content: center;
  flex-wrap: wrap;
}

.footer_data_box {
  /* background-color: #333; */
  max-width: 400px;
  /* height: 250px; */
  /* border: 2px solid blue; */
  flex: 1;
  /* overflow: hidden; */
  padding: 20px;
  /* color: white; */
  color: black;
  background-color: #fff;
}

.footer_data_box a {
  color: black;
}

.footer_data_box li {
  margin-bottom: 10px;
}

.contact_details {
  display: flex;
  margin-bottom: 10px;
  /* background-color: black; */
  /* color: white; */
}
.contact_details .contact_details_logo img {
  width: 20px;
  height: auto;
  margin-right: 10px;
  /* filter: invert(100%) brightness(0%); */
  /* color: black; */
}

/* ############################## copyrights ############################### */

.footer_wrapper .content {
  /* border: 2px solid black; */
  /* background-color: #333;
    color: white; */

  border-color: white;
  /* color: black; */
  color: black;
  background-color: #fff;
  line-height: 30px;
}

/*  ################################ RESPONSIVE SECTION ################################  */
@media screen and (max-width: 950px) {
  .choose_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .card-container {
    display: flex;
    gap: 20px;
  }
  .card {
    max-width: 250px;
  }

  .choose_us {
    background-attachment: scroll;
  }
  .content_2 {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 480px) {
  .footer_data {
    display: flex;
    gap: 0px;
    flex-direction: column;
  }

  .swiper-slide {
    height: 250px;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
  .connection img {
    width: 20px;
    height: 20px;
  }

  .connection p {
    font-size: 1rem;
  }
}
