*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content-container {
  display: flex;
 
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  width: 70%;
  margin: 20px auto ;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
}

.image-container {
  width: 200px; /* Set width for the image */
  height: 200px;
  margin-right: 20px;
}



.image-container img {
  width: 200px;
  height:  200px;
  border-radius: 8px;
}

.text-content {
  padding: 10px;
  flex-grow: 1; /* Take the remaining space */
}

.edit-button {
  margin-top: 10px;
  padding: 6px 20px;
  color: white;
  background-color: #007BFF;
  border: none;
  cursor: pointer;
  transition: all 0.2s linear;
  border-radius: 5px;
}
.edit-button:hover{
  background-color: #0056b3

}

@media screen and  (max-width: 800px) {
  .content-container {
 
    width: 90%;
    margin: 20px auto ;
  }
}
  @media screen and  (max-width: 600px) {
    .content-container {
   flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
  }
  .image-container {

    margin-right: 0;
  }
}
  
