.content-container {
  display: flex;
  align-items: flex-start;
  /* justify-content: space-between; */
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* border: 2px solid black; */
  gap: 40px;
  max-width: 90%;
}

.content-container img {
  max-width: 200px;
  max-height: 200px;
  margin-right: 20px;
  border-radius: 8px;
  object-fit: cover;
}

.content-container .text-content {
  flex: 1;
}

.content-container h1,
.content-container h2,
.content-container h3,
.content-container h4,
.content-container h5,
.content-container h6 {
  margin: 0 0 10px 0;
  color: #2c3e50;
}

.content-container p {
  color: #7f8c8d;
  line-height: 1.6;
  margin: 0 0 10px 0;
}

.content-container ul,
.content-container ol {
  margin: 0 0 10px 20px;
  color: #34495e;
}

.content-container li {
  margin: 0 0 5px 0;
}

.content-container a {
  color: #2980b9;
  text-decoration: none;
}

.content-container a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 668px) {
  .content-container {
    flex-direction: column;
  }
}
