.content-container {
  margin: 50px 30px;
  display: flex;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  max-height: 300px;
  position: relative; /* Allows absolute positioning of the delete button */
}

li,
ol {
  list-style-position: inside;
}

.image-container {
  flex: 0 0 25%; /* Takes 25% of the container's width */
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 10px;
  max-width: 40%; /* Ensures the container does not exceed 40% of the container width */
}

.image-container img {
  width: 200px; /* Fixed width for images */
  height: 150px; /* Fixed height for images */
  object-fit: cover; /* Ensures images are not distorted */
  margin: 5px;
  border-radius: 8px;
}

.text-content {
  flex: 1;
  padding: 15px;
  overflow: hidden;
  max-height: 100%;
  gap: 5px;
  display: flex;
  flex-direction: column;
  max-width: 90%;
}

.delete-form {
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  margin: 0; /* Remove any default margin */
  text-align: center;
}

.delete-button {
  /* color: #fff; */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 15px;
  right: 15px;
}

.delete-button:hover {
  background-color: #c82333;
}

/* Responsive Design */
@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
    max-height: 400px;
  }

  .image-container {
    width: 80%; /* Takes full width on smaller screens */
    max-width: 80%;
    padding: 5px;
  }

  .image-container img {
    width: 150px; /* Adjust image size for smaller screens */
    height: 100px;
  }

  .text-content {
    padding: 10px;
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .content-container {
    margin: 50px 10px;
  }
  .text-content {
    padding: 5px;
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  .image-container img {
    width: 100px; /* Further adjust image size for very small screens */
    height: 100px;
    margin: 2px;
  }
}
