* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  --color1: #fff;
  --color2: #181818;
}
.nav-bar {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;

  background-color: var(--color1);
  padding: 0px 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo img {
  display: block;
  margin: 0 auto;
  height: 50px;
  width: 150px;
}

.logo-text {
  font-size: 8px;
  font-weight: bold;
  color: #333;
  letter-spacing: 2px;
}

.logo-text a {
  text-decoration: none;
  color: inherit;
}
.menu {
  display: flex;
  align-items: center;

  height: 100%;
}
.menu li {
  padding-left: 30px;

  display: flex;
  align-items: flex-start;
  max-height: 100%;
}
.menu li a {
  text-decoration: none;
  color: var(--color2);
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
  font-family: Montserrat-Regular;
  letter-spacing: 2px;
  padding-bottom: 4px;

  height: 100%;
  display: flex;
  align-items: flex-start;
}
.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--color1);
  transition: 0.15s ease-in-out;
}
.menu li a:hover:after {
}

.open-menu,
.close-menu {
  position: absolute;
  color: var(--color2);
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}
.open-menu {
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  margin-right: 20px;
}
.close-menu {
  top: 20px;
  right: 30px;
}

.nav-link.active {
  border-bottom: 2px solid rgba(11, 92, 171, 1);
  font-weight: 900;
  color: rgba(11, 92, 171, 1);
}
#check {
  display: none;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0px;
  display: none;
  background-color: var(--color1);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 16px;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1;
  width: 330px;

  background-color: rgba(11, 92, 171, 1);
}
.dropdown-icon {
  width: 18px;
  height: 19px;
  margin-left: 4px;
}

.dropdown-menu li {
  text-align: left;
  padding: 10px 0px;
}

.dropdown-menu li a {
  text-decoration: none;
  color: var(--color2);
  font-family: Montserrat-Regular;
  margin: 0px 0px 0px 30px;
  display: inline-block;
  transition: all 0.2s linear;

  text-align: left;
  text-transform: none;
  font-family: Montserrat-Regular;
  color: white;
  width: 100%;
}

.dropdown-menu li a:hover {
  border-bottom: 2px solid white;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
@media (max-width: 925px) {
  .menu {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 100;
    background-color: rgba(11, 92, 171, 1);
    transition: all 0.2s ease-in-out;
    overflow-y: auto;
  }

  .menu li {
    margin-top: 20px;
    width: 100%;
    text-align: left;
  }
  .menu li a {
    padding: 10px;
    color: white;
    display: inline-block;
    width: 100%;
    text-align: left;
  }
  .nav-link.active {
    border-bottom: 2px solid white;
    color: white;
    font-weight: 900;
  }
  .open-menu,
  .close-menu {
    display: block;
  }
  .close-menu {
    color: white;
  }
  #check:checked ~ .menu {
    left: 0;
  }
  .logo-wrapper {
    margin-left: 50px;
  }

  .dropdown-menu {
    width: 80%;
    background-color: rgba(11, 92, 171, 1);

    height: auto;
  }

  .dropdown-menu li {
    margin-top: 5px;
    width: 100%;
  }

  .dropdown-menu li a {
    color: white;
    padding: 15px 10px;
    display: inline-block;
    width: 100%;
  }

  .dropdown-menu li a:hover {
    border-bottom: 2px solid white;
  }
}

@media screen and (max-width: 593px) {
  .menu {
    width: 80%;
  }
}
