* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
}
body {
  font-family: Arial, sans-serif;
}
.wrapper {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper h1 {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 2rem;
}
.wrapper p {
  font-family: "Montserrat-Regular", sans-serif;
  line-height: 25px;
  font-size: 1rem;
}

.wrapper h2 {
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 1.25rem;
}

/* CONTENT SECTION  */
.content {
  padding: 20px;
  text-align: center;
}

/* ################################################ HERO SECTION ########################################  */

.about {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: url(../images/hero-about.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-left: 30px;
  gap: 20px;
  color: white;
  margin-bottom: 50px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.about h1 {
  font-size: 2rem;
}

.about h2 {
  font-size: 1.25rem;
}

/* ############# our mission ########################## */

.about_choose_container {
  width: 80%;
  margin: 0px auto 50px;
}

.about_choose_content {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
  justify-content: center;
}
.about_choose_image {
  max-width: 450px;
  max-height: 100%;
}

.about_choose_data {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.about_choose_image img {
  width: 100%;
  height: 100%;
}
.about_choose_data h1 {
  font-size: 2rem;
  font-family: "Montserrat-Medium", sans-serif;
}
.about_choose_data p {
  margin: 15px 0px;
}
/* ############################################# OUR SERVICE #############################  */

.about_container {
  text-align: center;
  margin-bottom: 30px;
}

.about_container h2 {
  font-size: 2rem;
}

.circle-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 5px;
}

.circle {
  width: 15px;
  height: 15px;
  background-color: #333;
  border-radius: 50%;
}

/*  ########################################### swipeer ################################################  */

.swiper {
  width: 100%;
  height: 100%;
  margin-bottom: 80px;
  padding: 0px 40px;
  background: #f7f7f7;
  padding: 50px 40px !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  height: fit-content;
  flex-direction: column;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.swiper-slide-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.swiper-slide p {
  margin-top: 10px;
}

/* ############################### why choose us image  ########################################  */
.choose_us {
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url(../images/q.jpg) !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 0px;
  object-fit: cover;
  object-position: center;
}
.choose_us h1 {
  text-align: center;
  color: white;
  width: 100%;
}

/* ############################## why choose us content bottom  ##################################### */

.about_choose_bottom_container {
  width: 100%;
  background-color: #f7f7f7;
  padding: 20px;
}

.about_choose_bottom_content {
  width: 100%;
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
  justify-content: center;
}

.about_choose_bottom_image {
  max-width: 50%;
  max-height: 100%;
}

/*  ################################ RESPONSIVE SECTION ################################  */
@media screen and (max-width: 950px) {
  /* ##### about choose us bottom####  */
  .about_choose_bottom_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .about_choose_bottom_data {
    max-width: 100%;
  }
  .about_choose_bottom_image {
    max-width: 100%;
    max-height: auto;
  }
}

@media screen and (max-width: 768px) {
  /* ############ about  our  mission################# */
  .about_choose_container {
    max-width: 80%;
  }
  .about_choose_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    flex-direction: column-reverse;
  }
  .about_choose_image {
    max-width: 100%;
    max-height: 250px;
    padding: 0px;
  }
  .about_choose_image img {
    max-width: 100%;
    max-height: 100%;
  }
  .about_choose_data {
    max-width: 100%;
  }
  /* ################## about choose us bottom  ###################  */
  .about_choose_bottom_container {
    max-width: 100%;
  }

  .about_choose_bottom_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
  .about_choose_bottom_data {
    max-width: 100%;
  }
  .about_choose_bottom_image {
    max-width: 100%;
    max-height: auto;
  }

  .choose_us {
    background-attachment: scroll;
  }
  .content_2 {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 480px) {
  .about_container h2 {
    font-family: "Montserrat-Regular", sans-serif;
  }
}
