* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper h1 {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 2rem;
}

.wrapper p,
.contact_wrapper input,
.contact_wrapper textarea {
  font-family: "Montserrat-Regular", sans-serif;
  line-height: 25px;
  font-size: 1rem;
}

.wrapper h2,
.contact_wrapper h3,
.contact_wrapper label,
.contact_wrapper input button,
button {
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 1.25rem;
}

/* CONTENT SECTION  */
.content {
  padding: 20px;
  text-align: center;
}

/* ################################################ HERO SECTION ########################################  */

.about {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: url(../images/contact.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-left: 30px;
  gap: 20px;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* ################## contact ################  */

.contact_child {
  padding: 60px 20px;
}
.contact_child h3 {
  margin: 0px 0px 15px 0px;
}

.services_container {
  display: flex;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.services_child {
  width: 250px;
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space;
  align-items: center;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.services_child img {
  width: 70px;
  height: auto;
  margin-bottom: 20px;
}

.services_child h1 {
  margin-bottom: 10px;
}

.contact_data {
  display: flex;
  gap: 20px;
  width: 100%;
  padding: 60px 40px;
}

.contact_data_item {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.contact_data_item p {
  margin: 20px 0px;
}

.contact_data_item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.contact_data_item label,
.contact_data_item input,
.contact_data_item textarea {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  outline: none;
}

.contact_data_item input,
.contact_data_item textarea {
  padding: 10px 0px;
  border: none;
  border-bottom: 2px solid grey;
  font-size: 1.2rem;
}

.contact_data_item textarea {
  resize: vertical;
}

input[type="submit"] {
  width: 100%;
  display: block;
  padding: 15px;
  font-size: 1rem;
  background-color: rgb(7, 3, 53, 1);
  color: white;
  border-radius: 8px;
  border: none;
}

/*  ################################ RESPONSIVE SECTION ################################  */
@media screen and (max-width: 950px) {
  .contact_data {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .contact_data_item {
    width: 80%;
  }
}
@media screen and (max-width: 593px) {
  .contact_data {
    padding: 0px;
  }
}
