* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* margin-top: 90px; */
}
.wrapper h1 {
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 2rem;
  color: #000432;
}

.wrapper p,
.contact_wrapper input,
.contact_wrapper textarea {
  font-family: "Montserrat-Regular", sans-serif;
  line-height: 25px;
  font-size: 1rem;
}

.wrapper h2,
.contact_wrapper h3,
.contact_wrapper label,
.contact_wrapper input button,
button {
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 1.25rem;
}
.about h1,
.about h2 {
  color: white;
  z-index: 2;
}
.contact_data_item label {
  color: #2a2c39;
}

/* CONTENT SECTION  */
.content {
  padding: 20px;
  text-align: center;
}

/* ################################################ HERO SECTION ########################################  */

.about {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../../images/hero-contact.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 20px;
  gap: 20px;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
}
.about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
.about a {
  padding: 15px 25px;
  background-color: rgba(11, 92, 171, 1);
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 25%;
  font-family: "Montserrat-Regular", sans-serif;
  letter-spacing: 1.5px;
  margin-top: 10px;
  z-index: 2;
  border-radius: 40px;
  
  background-color: #E9AB04;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;

}
.about a:hover{
background-color: white;
  /* color: #E9AB04; */
  color: black;
  border: 2px solid #E9AB04;

 
}
.about h1 {
  font-family: "Montserrat-Bold", sans-serif;
}

/* ################## contact ################  */

.contact_child {
  padding: 60px 20px;
}
.contact_child h3 {
  margin: 0px 0px 15px 0px;
}

.services_container {
  display: flex;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.services_child {
  width: 250px;
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space;
  align-items: center;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.services_child img {
  width: 70px;
  height: auto;
  margin-bottom: 20px;
  /* border-radius: 10px; */
}

.services_child h1 {
  margin-bottom: 10px;
}
.contact-data-wrapper{
  width: 100%;
  padding: 60px  40px;
  /* background-color: antiquewhite; */
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);

}

.contact_data {
  display: flex;
  gap: 20px;
  width: 100%;
  padding: 20px;
  background-color: white;
  margin: 0px auto;

}

.contact_data_item {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.contact_data_item p {
  margin: 20px 0px;
}

.contact_data_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.contact_data_item label,
.contact_data_item input,
.contact_data_item textarea {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  outline: none;
}

.contact_data_item input,
.contact_data_item textarea {
  padding: 10px 0px;
  border: none;
  border-bottom: 2px solid grey;
  font-size: 1.2rem;
}

.contact_data_item textarea {
  resize: vertical;
}

input[type="submit"] {
  width: 30%;
  display: block;
  padding: 8px 15px;
  font-size: 1rem;
  background-color: #E9AB04;
  border: 2px solid #E9AB04;
  color: white;
  border-radius: 24px;
  /* border: none; */
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: white;
  color: black;

}

/*  ################################ RESPONSIVE SECTION ################################  */
@media screen and (max-width: 950px) {
  .contact_data {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .contact_data_item {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .about {
    height: 500px;
  }
  .about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
  }
}
@media screen and (max-width: 593px) {
  input[type="submit"] {
    width: 100%;
    
  }
}
@media screen and (max-width: 480px) {
  /* .about {
    height: 400px;
  } */
}
