* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* margin-top: 90px; */
}

.contact_wrapper input,
.contact_wrapper textarea {
  font-family: "Montserrat-Regular", sans-serif;
  line-height: 25px;
  font-size: 1rem;
}

.contact_wrapper h3,
.contact_wrapper label,
.contact_wrapper input button,
button {
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 1.25rem;
}

.contact_data_item label {
  color: #0363ff;
}

/* ################################################ HERO SECTION ########################################  */

.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../../images/hero-about.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 20px;
  gap: 20px;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
  text-align: center;
}
.hero h1,
.hero h2 {
  color: white;
  z-index: 2;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
.hero a {
  padding: 15px 25px;
  background-color: rgba(11, 92, 171, 1);
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 25%;
  font-family: "Montserrat-Regular", sans-serif;
  letter-spacing: 1.5px;
  margin-top: 10px;
  z-index: 2;
  border-radius: 40px;

  background-color: #0363ff;
  border: 1px solid #0363ff;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}
.hero a:hover {
  /* background-color: white; */
  /* color: #E9AB04; */
  color: white;
  background-color: hsl(217, 100%, 38%);
}

/* ######## contact detail ########  */

.contact_child {
  padding: 60px 20px;
}
.contact_child h3 {
  margin: 0px 0px 15px 0px;
}
.contact_child h3,
.contact_child p {
  color: white;
}

.services_container {
  display: flex;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.services_child {
  width: 250px;
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space;
  align-items: center;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.services_child img {
  width: 70px;
  height: auto;
  margin-bottom: 20px;
  /* border-radius: 10px; */
}

.services_child h1 {
  margin-bottom: 10px;
}

/* ####### contact form #####  */

.contact-data-wrapper {
  width: 100%;
  padding: 60px 40px;
  /* background-color: antiquewhite; */
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.contact_data {
  display: flex;
  gap: 20px;
  width: 100%;
  padding: 20px;
  background-color: white;
  margin: 0px auto;
}

.contact_data_item {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.contact_data_item p {
  margin: 20px 0px;
}

.contact_data_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.contact_data_item label,
.contact_data_item input,
.contact_data_item textarea {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  outline: none;
}

.contact_data_item input,
.contact_data_item textarea {
  padding: 10px 0px;
  border: none;
  border-bottom: 2px solid grey;
  font-size: 1.2rem;
}

.contact_data_item textarea {
  resize: vertical;
}

input[type="submit"] {
  width: fit-content;
  display: block;
  padding: 8px 12px;
  font-size: 1rem;
  background-color: #0363ff;
  border: 2px solid #0363ff;
  color: white;
  border-radius: 10px;
  /* border: none; */
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: white;
  color: black;
}

/* ######### CONTACT PERSON ########  */
.contact-person-wrapper {
  width: 100%;
  padding: 60px 40px;
  /* border: 2px solid red; */
  display: flex;
  color: white;
  gap: 20px;
  justify-content: space-between;
}
.contact-person-child {
  width: 50%;
  /* border: 2px solid violet; */
}
.child1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.child1 h1 {
  font-size: 3rem;
}
.child1 a {
  padding: 12px 16px;
  background-color: #0363ff;
  color: white;
  border: 1px solid #0363ff;
  width: fit-content;
  display: inline-block;
  border-radius: 24px;
}
.child1 a:hover {
  background-color: black;
  color: white;
  border: 1px solid darkgray;
}
.child2 {
  display: flex;
  align-items: center;
  /* border: 2px solid red; */
  justify-content: center;
}
.child2 a {
  font-size: 1.25rem;
}
.child2 h1 {
  font-size: 2rem;
}
.contact-person-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
}
.contact-person-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.contact-person-data {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contact-person-data i {
  color: #0363ff;
  font-size: 24px;
  margin-right: 15px;
}

.contact-person-wrapper h1,
.contact-person-wrapper h3 {
  color: white;
}
.contact-person-child a {
  color: white;
  text-decoration: none;
}

/*  ######### RESPONSIVE SECTION ##########  */
@media screen and (max-width: 1050px) {
  .hero {
    height: 700px;
  }
  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
  }
}

@media screen and (max-width: 950px) {
  .contact_data {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .contact_data_item {
    width: 80%;
  }
  .contact-person-wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
  }
  .contact-person-child {
    width: 100%;
  }
  .child2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .child2 h1 {
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    height: 500px;
  }
  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
  }
  .child1 h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 593px) {
  input[type="submit"] {
    width: 100%;
  }
  .hero h2 {
    font-size: 1rem;
  }
  .contact-data-wrapper {
    padding: 60px 20px;
  }
  .contact_data {
    padding: 20px 0px;
  }
}
@media screen and (max-width: 480px) {
  /* .about {
    height: 400px;
  } */
}
