* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer_wrapper {
  /* margin-top: 50px; */
  width: 100%;
  /* border-radius: 20px 20px 0px 0px; */
  background-color: black;
  border-top: 1px solid grey;
}

/* #### Get In Touch ####### */
.connection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
  /* background-color: lightskyblue; */
  /* background-image: linear-gradient(
        89.5deg,
        rgba(131, 204, 255, 1) 0.4%,
        rgba(66, 144, 251, 1) 100.3%
      ); */

  /* background-image: radial-gradient(
    circle 610px at 5.2% 51.6%,
    rgba(5, 8, 114, 1) 0%,
    rgba(7, 3, 53, 1) 97.5%
  ); */
  background-color: black;
  width: 100%;
}

.connection p {
  font-size: 1.25rem;
  /* font-family: Montserrat-SemiBold; */
}
.connection img {
  width: 30px;
  height: 30px;
}

.connection li {
  list-style-type: none;
  display: inline-block;
  margin-left: 20px;
  color: white;
}
.footer_wrapper li {
  list-style-type: none;
}

/* ############################### Footer data  Section ############################### */

.footer_data {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
  /* padding: 20px; */
  background-color: black;
  color: white;
  width: 100%;
  padding: 70px 20px;
  /* background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  ); */
  /* background-color: grey; */
  background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  );
}

.footer_data_box {
  /* min-width: 250px; */
  max-width: fit-content;
  flex: 1;
  color: white;
  /* background-color: black; */
  /* border: 2px solid red; */
}
.footer_data_box_header {
  display: flex;
  /* border: 1px solid red; */
  margin-bottom: 15px;
  border-bottom: 2px solid #f5f5f5;
  padding-bottom: 5px;
}
.footer_data_box_header h3 {
  /* border: 1px solid blue; */
}
.footer_data_box_header_image {
  width: 24px;
  height: 24px;
  border-radius: 6px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px,
    rgba(255, 255, 255, 0.12) 0px -12px 30px,
    rgba(255, 255, 255, 0.12) 0px 4px 6px,
    rgba(255, 255, 255, 0.17) 0px 12px 13px,
    rgba(255, 255, 255, 0.09) 0px -3px 5px;
}
.footer_data_box_header_image img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.footer_data_box h1 {
  font-family: Roboto-Bold;

  /* font-size: 2rem; */
  letter-spacing: 3px;
}
.footer_data_box h3 {
  /* padding-bottom: 15px; */
  /* margin-bottom: 15px; */
  font-family: Roboto-Medium;
  letter-spacing: 2px;
}

.footer_data_box a {
  text-decoration-line: none;
  color: white;
  font-size: 1rem;
  font-family: Roboto-Regular;
  transition: color 0.3s ease;
  letter-spacing: 1.25px;
}
.footer_data_box li a:hover {
  color: #0363ff;
}
.footer_data_box li a:hover i {
  color: #0363ff;
}

.footer_data_box p {
  color: white;
  font-size: 1rem;
  font-family: Roboto-Regular;
  letter-spacing: 1.25px;
}

.footer_data_box li {
  margin-bottom: 10px;
}
.footer_data_box i {
  color: white;
  margin-right: 10px;
}

.contact_details {
  display: flex;
  margin-bottom: 10px;
}
.contact_details .contact_details_logo img {
  width: 20px;
  height: auto;
  margin-right: 10px;
  filter: invert(100%) brightness(200%);
  /* color: black; */
}

/* ############################## copyrights ############################### */

.footer_wrapper .copyright {
  border-top: 1px solid white !important;
  color: white;
  background-color: black;
  line-height: 30px;
  width: 100%;
  font-family: Roboto-Medium;
  /* text-align: center; */
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: row; */
  height: fit-content;
  word-spacing: 2px;
}
.footer_wrapper .copyright i {
  color: white;
  margin-right: 10px;
  font-size: 24px;
  border: 1px solid white;
  border-radius: 50%;
  padding: 6px;
}
.footer_wrapper .copyright i:hover {
  color: #0363ff;
  border: 1px solid #0363ff;
}

/* ### RESPONSIVE SECTION #### */

@media screen and (max-width: 1000px) {
  .footer_data {
    display: flex;
    justify-content: center;
  }
  .footer_data_box {
    min-width: 250px;
    /* border: 2px solid red; */
  }
  .footer_data_box_header {
    max-width: fit-content;
  }
}
@media screen and (max-width: 768px) {
  .footer_data {
    display: flex;
    flex-direction: column;
  }
  .footer_data h1 {
    margin-bottom: 10px;
  }
  .footer_wrapper .copyright {
    flex-direction: column-reverse;
    gap: 15px;
    color: white;

    /* align-items: center; */
  }
}

@media screen and (max-width: 420px) {
  .connection img {
    width: 20px;
    height: 20px;
  }

  .connection p {
    font-size: 1rem;
  }
}
