body {
  font-family: Montserrat, Arial, sans-serif;
}

.footer_wrapper {
  margin-top: 50px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  background-color: #fff;
}

/* ################################### Get In Touch ################################# */
.connection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
  /* background-color: lightskyblue; */
  /* background-image: linear-gradient(
        89.5deg,
        rgba(131, 204, 255, 1) 0.4%,
        rgba(66, 144, 251, 1) 100.3%
      ); */

  /* background-image: radial-gradient(
    circle 610px at 5.2% 51.6%,
    rgba(5, 8, 114, 1) 0%,
    rgba(7, 3, 53, 1) 97.5%
  ); */
  background-color: rgba(11, 92, 171, 1);
  width: 100%;
}

.connection p {
  font-size: 1.25rem;
  font-family: Montserrat-SemiBold;
}
.connection img {
  width: 30px;
  height: 30px;
}

.connection li {
  list-style-type: none;
  display: inline-block;
  margin-left: 20px;
  color: white;
}
.footer_wrapper li {
  list-style-type: none;
}

/* ############################### Footer data  Section ############################### */

.footer_data {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  background-color: rgba(11, 92, 171, 1);
  color: white;
  width: 100%;
}

.footer_data_box {
  max-width: 400px;
  flex: 1;
  color: white;
  background-color: rgba(11, 92, 171, 1);
}
.footer_data_box h1 {
  font-family: "Montserrat-Bold";

  font-size: 2rem;
  letter-spacing: 3px;
}

.footer_data_box a {
  text-decoration-line: none;
  color: white;
  font-size: 1rem;
  font-family: Montserrat-Regular;
}
.footer_data_box p {
  color: white;
  font-size: 1rem;
  font-family: Montserrat-Regular;
}

.footer_data_box li {
  margin-bottom: 10px;
}

.contact_details {
  display: flex;
  margin-bottom: 10px;
}
.contact_details .contact_details_logo img {
  width: 20px;
  height: auto;
  margin-right: 10px;
  filter: invert(100%) brightness(200%);
  /* color: black; */
}

/* ############################## copyrights ############################### */

.footer_wrapper .content {
  border-top: 1px solid white !important;
  color: white;
  background-color: rgba(11, 92, 171, 1);
  line-height: 30px;
  width: 100%;
  font-family: Montserrat-Medium;
  text-align: center;
  padding: 20px;
}

/* ############################### RESPONSIVE SECTION ############################### */
@media screen and (max-width: 768px) {
  .footer_data {
    display: flex;
    flex-direction: column;
  }
  .footer_data h1 {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 420px) {
  .connection img {
    width: 20px;
    height: 20px;
  }

  .connection p {
    font-size: 1rem;
  }
}
