* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  /* font-family: Montserrat, Arial, sans-serif; */
}
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* letter-spacing: 2px; */
  word-spacing: 2px;
}
.wrapper p {
  font-family: Roboto-Regular;

  line-height: 25px;
  font-size: 17px;
}

/* CONTENT SECTION  */
.content {
  padding: 20px;
  text-align: center;
}

/* ####### HERO SECTION #########  */

.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../../images/hero-index-3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 20px;
  gap: 20px;
  color: white;

  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  /* letter-spacing: 1.5px; */
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.hero h1 {
  font-size: 40px;
  width: 100%;
  color: white;
  z-index: 2;
  font-family: Roboto-Bold;
  /* letter-spacing: 2px; */
}
.hero h2 {
  font-size: 24px;
  color: white;
  z-index: 2;
  font-family: Roboto-Regular;
  /* letter-spacing: 1.25px; */
}

.hero a {
  padding: 15px 25px;
  /* background-color: rgba(11, 92, 171, 1); */
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 25%;
  font-family: Roboto-Medium;
  /* letter-spacing: 2px; */
  margin-top: 10px;
  z-index: 2;
  border-radius: 40px;
  font-size: 18px;
  /* letter-spacing: 1.5px; */
  /* background: radial-gradient(
    circle at 12.3% 19.3%,
    rgb(85, 88, 218) 0%,
    rgb(95, 209, 249) 100.2%
  ); */
  background-color: #0363ff;
  border: 2px solid #0363ff;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}
.hero a:hover {
  background-color: hsl(217, 100%, 38%);
}

/* ######### Intro #####  */

.container {
  /* text-align: cente; */

  width: 100%;
  /* border: 2px solid red; */
  padding: 50px 30px;
  background: black;
}

.container h1 {
  font-size: 3rem;
  /* margin-top: 50px; */
  color: white;
  font-family: Roboto-Bold;
  /* letter-spacing: 2px; */
  line-height: 60px;
}

/*  ####### services ############  */

.swiper {
  max-width: 100%;
  /* margin-bottom: 80px; */
  /* background: #f7f7f7; */
  /* padding: 0px 40px 30px !important; */
  background: black;
  /* border: 2px solid red; */
}
.swiper-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  /* border-radius: 15px; */
  /* height: 480px !important; */
  flex-direction: column;
  padding: 30px;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  background-color: #121212;
  position: relative;
  /* border: 2px solid red; */
  margin: 0px !important;
  min-width: 50% !important;
}
.swiper-slide a {
  text-decoration: none;
  width: 100%;
  color: black;
}
.swiper-slide-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
}

.swiper-slide img {
  width: 100px;
  height: 100px;
  border-radius: 15px;
}
.slide-1 img,
.slide-2 img {
  filter: invert(1);
}

.swiper-slide p {
  margin-top: 10px;
  color: #000042;
}
.swiper-slide-text {
  width: 100%;

  display: flex;

  /* align-items: center; */
  justify-content: flex-start;
  padding-top: 10px;
  margin-top: 10px;
  /* border: 2px solid red; */
}
.swiper-slide-text span {
  color: white;
}

.swiper-slide-text h3 {
  color: white;
  text-align: left;
  font-family: Roboto-Medium;
  /* letter-spacing: 2px; */
}

.swiper-slide-text img {
  width: 30px !important;
  height: 20px !important;
  margin-left: 10px;
}

.swiper-slide-text-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* border: 2px solid red; */
}
.swiper-slide-text-details p {
  text-align: left;
  width: 100%;
  color: white;
  font-size: 16px;
  font-family: Roboto-Regular;
  /* letter-spacing: 1.25px; */
}

.swiper-slide-text-details i {
  margin-right: 10px;
}

.slide-2 {
  background-image: linear-gradient(
    to right bottom,
    #24c2f8,
    #0084ff,
    #005cff,
    #0b0df4
  );
}
.slide-2 i {
  color: white;
}
.slide-2 p,
.slide-2 h3 {
  color: white;
}

.swiper-slide.slide2 img {
}

/* ####### Technology ##########  */

.service_choose_us {
  position: relative;
  background-image: url("../../images/technology-background.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px 0px 0px;
  text-align: center;
  /* margin-bottom: 100px; */
}

.service_choose_us::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
}

.service_choose_us > * {
  position: relative;
  z-index: 2;
  color: white;
  /* padding: 20px; */
  /* letter-spacing: 2px; */
}

.services_container {
  display: flex;
  width: 80%;
  gap: 50px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.services_container h2 {
  color: white;
  font-size: 14px;
  font-family: Roboto-Medium;
  /* letter-spacing: 1.5px; */
}
.services_child {
  width: 180px;
  max-width: 210px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  border: 1px solid #0363ff;
  border-radius: 8px;
}

.services_child img {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 6px;
}

/* ############ WORK WITH US #############  */
.work-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 30px;
}
.work-wrapper-header {
  width: 100%;
  text-align: center;
}

.work-wrapper-header h1 {
  font-size: 3rem;
  color: white;
  margin-bottom: 40px;
  /* letter-spacing: 3px; */
}

.work-wrapper-child {
  display: flex;
  row-gap: 50px;
  width: 100%;
  flex-wrap: wrap;
  color: white;
  justify-content: space-around;
  align-items: center;
}
.work-child {
  width: 40%;
  background-color: #121212;
  padding: 20px;
  border-radius: 4px;
}
.work-child p {
  /* font-size: 16px; */
  font-family: Roboto-Regular;
  /* letter-spacing: 1.25px; */
  line-height: 25px;
}
.work-child h2 {
  color: white;
  margin-bottom: 15px;
  font-size: Roboto-Medium;
  /* letter-spacing: 2px; */
}

/* ######### collaboration #############   */
.collaboration-wrapper {
  max-width: 100%;
  padding: 0px 30px;
  /* padding-top: 30px; */
  display: flex;
  flex-direction: column;
  /* gap: 30px; */
  /* border: 2px solid red; */
  padding-top: 0px;
}
.collaboration-header {
  max-width: 100%;
  text-align: left;
}
.collaboration-header h1 {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 30px;
}
.collaboration-child-wrapper {
  display: flex;
  gap: 30px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.collaboration-child {
  width: 250px;
  /* border: 1px solid #ccc; */
  padding: 10px;
  text-align: center;
  position: relative;
  max-height: 170px;
  overflow: hidden;
  box-sizing: border-box;
  transition: max-height 0.9s ease;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.collaboration-child i {
  font-size: 14px;
  transition: all 0.3s ease;
}
.collaboration-child.shown {
  max-height: 450px;
}
.collaboration-child.shown i {
  transform: rotate(90deg);
}
.collaboration-child img {
  width: 50px;
  height: 50px;
}
.collaboration-child-data {
  color: white;
}
.collaboration-child-data h2 {
  color: white;
  /* margin: 20px 0px 30px; */
  padding: 30px 20px;
  font-family: Roboto-Medium;
  /* letter-spacing: 1.25px; */
}
.collaboration-child-data p {
  /* display: none; */
  margin-top: 10px;
  font-family: ;
}

/* ############### HOW WE WORK roadmap ############   */

.workflow-wrapper {
  width: 100%;
  padding: 50px 30px 0px;
}
.workflow-data {
  display: flex;
  flex-direction: column;
}
.workflow-data h1 {
  color: white;
  font-size: 3rem;
  /* margin-bottom: 50px; */
  font-family: Roboto-Bold;
  line-height: 60px;
}

.workflow-data img {
  width: 100%;
  height: auto;
}

/* ##### animated Counter ####### */

.counter_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px;
  padding: 50px 0px;
  background-color: #121212;
  color: white;
  /* border: 1px solid #474747; */
  /* margin: 0px auto 60px; */
  border-radius: 10px;
}
.counter_wrapper span {
  /* font-family: Montserrat-Medium, sans-serif; */
  font-size: 2rem;
}
.counter {
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease;
  max-width: 200px;

  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  row-gap: 20px;
}
.counter.visible {
  opacity: 1;
  transform: translateY(0);
}
.counter img {
  width: 50px;
  height: 50px;
}
#counter-text {
  font-size: 1rem !important;
  display: block;
  margin-top: 5px;
  font-family: Roboto-Bold;
  /* letter-spacing: 2px; */
}

/* #### blog wrapper ####  */

.blog-wrapper {
  /* border: 1px solid red; */
  display: flex;
  height: auto;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 0px 50px;
}

.content-container {
  /* margin: 0px auto 50px; */
  margin-bottom: 50px;
  display: flex;
  margin-bottom: 20px;
  /* border: 1px solid red; */
  /* border-radius: 8px; */
  /* overflow: hidden; */
  /* cursor: pointer; */
  height: auto;
  position: relative;
  /* border-top: 1px solid black; */
  border-bottom: 1px solid black;
  /* border: 2px solid red; */
  /* max-width: 50%; */
  width: 300px;
  /* margin-bottom: 50px; */
  padding-bottom: 11px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
  transition: all 0.3s;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
}
.content-container:hover {
  transform: translateY(-30px);
}

.text-content li,
.text-content ol {
  list-style-position: inside;
}

.image-container {
  flex: 0 0 25%; /* Takes 40% of the container's width */
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  /* justify-content: center; */
  /* padding: 10px; */
  /* background-color: #f9f9f9; */
  max-width: 100%; /* Ensures the container does not exceed 40% of the container width */
  /* border: 2px solid black; */
}

.image-container img {
  width: 100%; /* Fixed width for images */
  height: 150px; /* Fixed height for images */
  object-fit: cover; /* Ensures images are not distorted */
  margin: 5px;
  border-radius: 8px;
  overflow: hidden;
}

.text-content {
  flex: 1;
  padding: 10px;
  overflow: hidden;
  max-height: 100%;
  gap: 5px;
  display: flex;
  flex-direction: column;
  max-width: 100%;

  /* border: 2px solid black; */
  /* border: 2px solid black; */
}
.text-content h1,
.text-content h2,
.text-content h3,
.text-content h4,
.text-content h5,
.text-content h6 {
  margin-bottom: 10px;
  color: #0363ff;
  font-family: Roboto-Medium;

  line-height: 35px;
}

.text-content p {
  font-size: 16px;
  margin-top: 10px;
  /* line-height: 1.6; */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limits the text to 8 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.edit-form {
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  margin: 0; /* Remove any default margin */
  text-align: center;
}

.edit-button {
  /* background-color: #007bff; */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.edit-button:hover {
  /* background-color: #0056b3; */
}

.read-more {
  /* position: absolute;
  top: 186px;
  left: 55px;
  background-color: rgb(7, 3, 53, 1);
  color: white;
  border-radius: 6px;
  padding: 8px 12px;
  text-decoration: none;
  max-width: fit-content;
  cursor: pointer; */
}
.read-more {
  /* border: 2px solid red; */
  text-decoration: none;
  color: #0363ff;
  display: flex;
  align-items: center;
  transition: all 0.3s linear;
  font-family: Roboto-Regular;
}
.read-more:hover {
  letter-spacing: 2px;
}
.read-more-container {
  display: flex;
  /* border: 2px solid red; */
  align-items: center;
  font-family: Roboto-Regular;
}
#arrow {
  width: 20px;
  height: 16px;
  margin-left: 4px;
}

/*#########  FAQ ###### */
.faq-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 0px 30px;
  width: 100%;
  box-sizing: border-box;
  background-color: black;
  margin-bottom: 50px;
}

/* Each FAQ item (child) */
.faq-child {
  width: 48%; /* Two items per row */
  background-color: #121212;
  padding: 15px;
  border-radius: 6px;
  border: 1px solid #444;
  position: relative;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
  height: auto;
}

/* Heading and icon layout */
.faq-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style for headings */
.faq-heading h1 {
  margin: 0;
  font-size: 20px;
  font-family: Roboto-Medium;
  /* letter-spacing: 1.25px; */

  color: #fff;
}

/* The icon for expanding/collapsing */
.faq-icon {
  cursor: pointer;
  transition: transform 0.3s ease;
  color: #fff;
}

/* Initially hide the paragraphs */
.faq-child p {
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: height 0.3s ease, opacity 0.3s ease, visibility 0.3s;
}

/* Expand the paragraph when .expanded is added */
.faq-child.expanded p {
  height: auto;
  visibility: visible;
  opacity: 1;
  transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Rotate the icon when expanded */
.faq-child.expanded .faq-icon {
  transform: rotate(180deg);
}

/*  ######### RESPONSIVE SECTION ###########  */
@media screen and (max-width: 1050px) {
  .hero {
    height: 700px;
  }
  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    height: 500px;
  }
  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
  }
  .hero h1 {
    font-size: 2rem;
  }

  .container h1 {
    font-size: 2rem;
    line-height: 45px;
  }
  .container {
    padding: 30px;
  }

  .wrapper p {
    font-size: 16px;
  }
  .work-wrapper-child {
    display: flex;
    flex-direction: column;
  }
  .work-child {
    width: 100%;
  }
  .swiper-wrapper {
    display: flex;
    flex-direction: column;
  }
  .container h1 {
    font-size: 2rem;
    /* font-family: Montserrat-SemiBold; */
  }
  .workflow-data h1 {
    font-size: 2rem;
    /* font-family: Montserrat-SemiBold; */
    line-height: 45px;
  }
  .faq-wrapper {
    flex-direction: column;
  }
  .faq-child {
    width: 100%;
  }
  .faq-heading h1 {
    font-size: 17px;
  }
}

@media screen and (max-width: 593px) {
  .counter_wrapper {
    gap: 20px;
  }
  .counter_wrapper span {
    font-size: 1rem !important;
  }
  #counter-text {
    font-size: 0.7rem !important;
  }

  .collaboration-child-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
  .collaboration-child {
    width: 100%;
  }
  .hero h2 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .services_container {
    width: 100%;
  }
  .services_child {
    width: 100%;
  }
  .collaboration-child-data h2 {
    font-size: 1rem;
  }
  .blog-wrapper {
    padding: 0px;
  }
}
