* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: Montserrat, Arial, sans-serif;
}
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* CONTENT SECTION  */
.content {
  padding: 20px;
  text-align: center;
}

/* ####### HERO SECTION #########  */

.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../../images/hero-index-3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 20px;
  gap: 20px;
  color: white;

  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.hero h1 {
  font-size: 2rem;
  width: 100%;
  color: white;
  z-index: 2;
  font-family: "Montserrat-Bold", sans-serif;
}
.hero h2 {
  font-size: 1.25rem;
  color: white;
  z-index: 2;
}

.hero a {
  padding: 15px 25px;
  /* background-color: rgba(11, 92, 171, 1); */
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 25%;
  font-family: "Montserrat-Regular", sans-serif;
  letter-spacing: 1.5px;
  margin-top: 10px;
  z-index: 2;
  border-radius: 40px;
  /* background: radial-gradient(
    circle at 12.3% 19.3%,
    rgb(85, 88, 218) 0%,
    rgb(95, 209, 249) 100.2%
  ); */
  background-color: #0363ff;
  border: 2px solid #0363ff;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}
.hero a:hover {
  background-color: hsl(217, 100%, 38%);
}

/* ######### Intro #####  */

.container {
  /* text-align: cente; */

  width: 100%;
  /* border: 2px solid red; */
  padding: 50px 30px;
  background: black;
}

.container h1 {
  font-size: 3rem;
  /* margin-top: 50px; */
  color: white;
  font-family: Montserrat-Bold;
}

/*  ####### services ############  */

.swiper {
  max-width: 100%;
  /* margin-bottom: 80px; */
  /* background: #f7f7f7; */
  /* padding: 0px 40px 30px !important; */
  background: black;
  /* border: 2px solid red; */
}
.swiper-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  /* border-radius: 15px; */
  /* height: 480px !important; */
  flex-direction: column;
  padding: 30px;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  background-color: #121212;
  position: relative;
  /* border: 2px solid red; */
  margin: 0px !important;
  min-width: 50% !important;
}
.swiper-slide a {
  text-decoration: none;
  width: 100%;
  color: black;
}
.swiper-slide-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
}

.swiper-slide img {
  width: 100px;
  height: 100px;
  border-radius: 15px;
}
.slide-1 img,
.slide-2 img {
  filter: invert(1);
}

.swiper-slide p {
  margin-top: 10px;
  color: #000042;
}
.swiper-slide-text {
  width: 100%;

  display: flex;

  /* align-items: center; */
  justify-content: flex-start;
  padding-top: 10px;
  margin-top: 10px;
  /* border: 2px solid red; */
}
.swiper-slide-text span {
  color: white;
}

.swiper-slide-text h3 {
  color: white;
  text-align: left;
}
.swiper-slide-text img {
  width: 30px !important;
  height: 20px !important;
  margin-left: 10px;
}

.swiper-slide-text-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* border: 2px solid red; */
}
.swiper-slide-text-details p {
  text-align: left;
  width: 100%;
  color: white;
  font-size: 14px;
}

.swiper-slide-text-details i {
  margin-right: 10px;
}

/* .btn {

  text-align: left;
  display: flex;
  padding: 10px 14px;
  border-radius: 24px;
  margin-top: 15px;
  background: #e9ab04;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 14px;
  transition: all 0.2s linear;
  letter-spacing: 1.5px;
  position: absolute;
  bottom: 20;
  left: 20;
}

.btn:hover {
  background: white;
 
  color: black;
  border: 2px solid #e9ab04;
} */

.slide-2 {
  background-image: linear-gradient(
    to right bottom,
    #24c2f8,
    #0084ff,
    #005cff,
    #0b0df4
  );
}
.slide-2 i {
  color: white;
}
.slide-2 p,
.slide-2 h3 {
  color: white;
}

.swiper-slide.slide2 img {
}

/* ####### Technology ##########  */

.service_choose_us {
  position: relative;
  background-image: url("../../images/technology-background.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px 0px 0px;
  text-align: center;
  /* margin-bottom: 100px; */
}

.service_choose_us::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
}

.service_choose_us > * {
  position: relative;
  z-index: 2;
  color: white;
  /* padding: 20px; */
  letter-spacing: 2px;
}

.services_container {
  display: flex;
  width: 80%;
  gap: 50px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.services_container h2 {
  color: white;
  font-size: 14px;
}
.services_child {
  width: 180px;
  max-width: 210px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  border: 1px solid #0363ff;
  border-radius: 8px;
}

.services_child img {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 6px;
}

/* ############ WORK WITH US #############  */
.work-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 30px;
}
.work-wrapper-header {
  width: 100%;
  text-align: center;
}

.work-wrapper-header h1 {
  font-size: 3rem;
  color: white;
  margin-bottom: 40px;
  letter-spacing: 3px;
}

.work-wrapper-child {
  display: flex;
  row-gap: 50px;
  width: 100%;
  flex-wrap: wrap;
  color: white;
  justify-content: space-around;
  align-items: center;
}
.work-child {
  width: 40%;
  background-color: #121212;
  padding: 20px;
  border-radius: 4px;
}
.work-child h2 {
  color: white;
  margin-bottom: 15px;
}

/* ######### collaboration #############   */
.collaboration-wrapper {
  max-width: 100%;
  padding: 30px;
  /* padding-top: 30px; */
  display: flex;
  flex-direction: column;
  /* gap: 30px; */
  /* border: 2px solid red; */
  padding-top: 0px;
}
.collaboration-header {
  max-width: 100%;
  text-align: left;
}
.collaboration-header h1 {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 30px;
}
.collaboration-child-wrapper {
  display: flex;
  gap: 30px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.collaboration-child {
  width: 250px;
  /* border: 1px solid #ccc; */
  padding: 10px;
  text-align: center;
  position: relative;
  max-height: 160px;
  overflow: hidden;
  box-sizing: border-box;
  transition: max-height 0.9s ease;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.collaboration-child i {
  font-size: 14px;
}
.collaboration-child.expanded {
  max-height: 450px;
}

.collaboration-child img {
  width: 50px;
  height: 50px;
}
.collaboration-child-data {
  color: white;
}
.collaboration-child-data h2 {
  color: white;
  /* margin: 20px 0px 30px; */
  padding: 30px 20px;
}
.collaboration-child-data p {
  /* display: none; */
  margin-top: 10px;
}

/* ############### HOW WE WORK roadmap ############   */

.workflow-wrapper {
  width: 100%;
  padding: 50px 30px 0px;
}
.workflow-data {
  display: flex;
  flex-direction: column;
}
.workflow-data h1 {
  color: white;
  font-size: 3rem;
  /* margin-bottom: 50px; */
  font-family: "Montserrat-Bold", sans-serif;
}

.workflow-data img {
  width: 100%;
  height: auto;
}

/* ##### animated Counter ####### */

.counter_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px;
  padding: 50px 0px;
  background-color: #121212;
  color: white;
  /* border: 1px solid #474747; */
  margin: 0px auto 60px;
  border-radius: 10px;
}
.counter_wrapper span {
  font-family: Montserrat-Medium, sans-serif;
  font-size: 2rem;
}
.counter {
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease;
  max-width: 200px;

  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  row-gap: 20px;
}
.counter.visible {
  opacity: 1;
  transform: translateY(0);
}
.counter img {
  width: 50px;
  height: 50px;
}
#counter-text {
  font-size: 1rem !important;
  display: block;
  margin-top: 5px;
}

/*  ######### RESPONSIVE SECTION ###########  */
@media screen and (max-width: 1050px) {
  .hero {
    height: 700px;
  }
  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    height: 500px;
  }
  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
  }
  .hero h1 {
    font-size: 2rem;
  }
  .work-wrapper-child {
    display: flex;
    flex-direction: column;
  }
  .work-child {
    width: 100%;
  }
  .swiper-wrapper {
    display: flex;
    flex-direction: column;
  }
  .container h1 {
    font-size: 2rem;
    font-family: Montserrat-SemiBold;
  }
  .workflow-data h1 {
    font-size: 2rem;
    font-family: Montserrat-SemiBold;
  }
}

@media screen and (max-width: 593px) {
  .counter_wrapper {
    gap: 20px;
  }
  .counter_wrapper span {
    font-size: 1rem !important;
  }
  #counter-text {
    font-size: 0.7rem !important;
  }

  .collaboration-child-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
  .collaboration-child {
    width: 100%;
  }
  .hero h2 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .services_container {
    width: 100%;
  }
  .services_child {
    width: 100%;
  }
  .collaboration-child-data h2 {
    font-size: 1rem;
  }
}
