* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  /* font-family: Montserrat, Arial, sans-serif; */
}
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  word-spacing: 2px;
}
.wrapper p {
  font-family: Roboto-Regular;
  /* letter-spacing: 1.25px; */

  line-height: 25px;
  font-size: 17px;
}

/* ########### HERO SECTION ##############  */

.hero {
  width: 100%;
  height: 90vh;

  display: flex;
  margin-top: 70px;
}
.child {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  color: black;
}
.child h1 {
  font-size: 2rem;
  font-family: Roboto-Bold;
}
.child a {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  border: 1px solid black;
  border-radius: 6px;
  color: black;
  font-size: 16px;
}
.child2 {
  max-height: 100%;
  position: relative;
}
.child2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.child2 img {
  width: 100%;
  height: 100%;
}
.child1 {
  background-color: white;
  position: relative;
  color: black;
  padding: 20px;
}

.child1 h2 {
  font-family: Roboto-Regular;
  font-size: 18px;
}
.child1 a {
  font-family: Roboto-Bold;
}

/* ########## OUR SERVICE ####  */

/*  ###### INTRO ############## */

.intro-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: row-reverse;

  padding: 50px 30px;
  background: black;

  gap: 50px;
  max-height: 100%;
}

.intro-slide {
  font-size: 18px;

  color: white;
}

.intro-slide p {
  margin-top: 10px;
}

.intro-1 {
  background-color: black;

  width: 60%;
}
.intro-1 h2 {
  margin-bottom: 20px;
  font-size: 34px;
  font-family: Roboto-Medium;
}
.intro-2 {
  width: 40%;

  padding: 20px;

  background: radial-gradient(
    circle at 10% 20%,
    rgb(64, 64, 64) 0%,
    rgb(0, 0, 0) 100%
  );
  position: relative;
  border-radius: 10px;
}
.intro-2 img {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

/*  ###### team ############## */
.swiper {
  width: 100%;
  height: auto !important;
  /* margin-bottom: 80px; */
  padding: 0px 40px;
  background: darkgrey;
  padding: 50px 40px !important;
  /* border: 2px solid red; */
  background-color: black;
  z-index: 0 !important;
  padding-bottom: 0px !important;
}
.swiper-wrapper {
  /* border: 2px solid blue; */
  height: auto !important;
}
.swiper h1 {
  font-size: 3rem;
  margin-bottom: 30px;
  color: white;
  font-family: Roboto-Medium;
  line-height: 60px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* border-radius: 15px; */
  height: fit-content !important;
  /* padding: 30px; */
  /* border: 2px solid blue; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* height: auto; */
  padding-bottom: 25px;
}
.swiper-slide-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  /* border-radius: 15px; */
  margin-bottom: 30px;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  /* border-radius: 15px; */
}
.swiper-slide h2 {
  text-align: left;
  color: white;
  /* margin: 0px 15px; */
  font-family: Roboto-Medium;
}
.swiper-slide-data {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0px 15px;
  align-items: flex-start;
  color: white;
}
.swiper-slide-data a {
  padding: 4px 20px;
  border-radius: 5px;
  color: white;
  border: 1px solid #0363ff;
  background-color: #0363ff;
  font-size: 1rem;
  text-decoration: none;
  font-family: Roboto-Bold;
}
.swiper-slide-data a:hover {
  background-color: hsl(217, 100%, 38%);
}
.swiper-slide-data strong {
  font-family: Roboto-Medium;
  font-size: 16px;
}

.swiper-slide p {
  /* margin: 15px; */
  text-align: left;
  color: white;
}
/* ############ WORK WITH US #############  */
.container {
  /* text-align: cente; */

  width: 100%;
  /* border: 2px solid red; */
  padding: 50px 30px;
  background: black;
}

.container h1 {
  font-size: 3rem;
  color: white;

  font-family: Roboto-Bold;

  line-height: 60px;
}

.work-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 30px;
}
.work-wrapper-header {
  width: 100%;
  text-align: center;
}

.work-wrapper-header h1 {
  font-size: 3rem;
  color: white;
  margin-bottom: 40px;
  letter-spacing: 3px;
}

.work-wrapper-child {
  display: flex;
  row-gap: 50px;
  width: 100%;
  flex-wrap: wrap;
  color: white;
  justify-content: space-around;
  align-items: center;
}
.work-child {
  width: 40%;
  background-color: #121212;
  padding: 20px;
  border-radius: 4px;
}
.work-child h2 {
  color: white;
  margin-bottom: 15px;
  font-family: Roboto-Bold;
  /* font-size: ; */
}

/* ######## why choose us #####  */
.about_container {
  padding: 50px 30px;
}

.about_container h1 {
  font-size: 3rem;
  color: white;
  font-family: Roboto-Bold;
  line-height: 60px;
}

.service_choose_us {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: black;
  padding: 0px 10px;
}

.services_container {
  display: flex;
  width: 100%;
  gap: 50px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0px 30px;
}

.services_child {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  background-color: #121212;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: white;
  overflow: hidden;
  position: relative;
  text-align: center;
  transition: all 0.3s ease;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services_child img {
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
  border-radius: 6px;
  z-index: 1;
}

.services_child h1 {
  margin-bottom: 10px;
  color: white;
  font-size: 24px;
  font-family: Roboto-Bold;
  z-index: 1;
}

.services_child p {
  display: none; /* Hide paragraph completely */
  transition: opacity 0.3s ease, visibility 0.3s ease;
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

.read-more-btn {
  display: none;
  padding: 10px 20px;
  font-size: 0.9rem;
  color: white;
  background-color: #0363ff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

/* Card-open styles */
.card-open .read-more-btn {
  background-color: #0b0df4;
  border: 1px solid white;
}

/*  ######### why hire from us ######  */
.avail-section-wrapper {
  position: relative; /* Ensures that the section has its own context */
  margin-bottom: 20px; /* Adds space below the section */
}

.avail-section {
  display: flex;
  height: 500px; /* Fixed height for larger screens */
  width: 100%;
  margin: 0px auto;
  position: -webkit-sticky; /* Safari support */
  position: sticky; /* Makes the section sticky */
  top: 0; /* Sticks to the top */
  background-color: black;
  z-index: 1; /* Keeps the section above other content */
}

.avail-image-container {
  flex: 1;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; /* Optional: indicate that scrolling is possible */
  overflow: hidden; /* Prevent the image from scrolling */
}

.avail-content-container {
  flex: 1;
  overflow-y: auto; /* Allow only the right content to scroll */
  padding: 20px;
  background: black;
  max-height: 500px; /* Fixed height to match the section */
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.avail-content-container::-webkit-scrollbar {
  display: none;
}
.avail-image-container img {
  width: 100%;
  height: 100%;
}

.avail-content {
  color: white;
  margin-bottom: 30px;
  /* border: 1px solid darkgrey; */
}
.avail-content-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.avail-content-header h2 {
  font-family: Roboto-Bold;
}
.avail-content-header img {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

/* ######### collaboration #########   */

.collaboration-wrapper {
  max-width: 100%;
  padding: 30px;
  /* padding-top: 30px; */
  display: flex;
  flex-direction: column;
  /* gap: 30px; */
  /* border: 2px solid red; */
  padding-top: 0px;
}
.collaboration-header {
  max-width: 100%;
  text-align: left;
}
.collaboration-header h1 {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 30px;
}
.collaboration-child-wrapper {
  display: flex;
  gap: 30px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.collaboration-child {
  width: 250px;
  border: 1px solid #444;
  padding: 10px;
  text-align: center;
  position: relative;
  max-height: 190px;
  overflow: hidden;
  box-sizing: border-box;
  transition: max-height 0.9s ease;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.collaboration-child i {
  font-size: 14px;
  transition: all 0.3s ease;
}
.collaboration-child.shown {
  max-height: 450px;
}
.collaboration-child.shown i {
  transform: rotate(90deg);
}
.collaboration-child img {
  width: 50px;
  height: 50px;
}
.collaboration-child-data {
  color: white;
}
.collaboration-child-data h2 {
  color: white;
  /* margin: 20px 0px 30px; */
  padding: 30px 0px;
  font-family: Roboto-Medium;
}
.collaboration-child-data p {
  /* display: none; */
  margin-top: 10px;
}

/* ############### HOW WE WORK ############   */

.workflow-wrapper {
  width: 100%;
  padding: 50px 30px 0px;
}
.workflow-data {
  display: flex;
  flex-direction: column;
}
.workflow-data h1 {
  color: white;
  font-size: 2.5rem;
  /* margin-bottom: 50px; */
}
.workflow-data img {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

/*#########  FAQ ###### */
.faq-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 0px 30px;
  width: 100%;
  box-sizing: border-box;
  background-color: black;
  margin-bottom: 50px;
}

/* Each FAQ item (child) */
.faq-child {
  width: 48%; /* Two items per row */
  background-color: #121212;
  padding: 15px;
  border-radius: 6px;
  border: 1px solid #444;
  position: relative;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
  height: auto;
}

/* Heading and icon layout */
.faq-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style for headings */
.faq-heading h1 {
  margin: 0;
  font-size: 20px;
  color: #fff;
  font-family: Roboto-Medium;
}

/* The icon for expanding/collapsing */
.faq-icon {
  cursor: pointer;
  transition: transform 0.3s ease;
  color: #fff;
}

/* Initially hide the paragraphs */
.faq-child p {
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: height 0.3s ease, opacity 0.3s ease, visibility 0.3s;
}

/* Expand the paragraph when .expanded is added */
.faq-child.expanded p {
  height: auto;
  visibility: visible;
  opacity: 1;
  transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Rotate the icon when expanded */
.faq-child.expanded .faq-icon {
  transform: rotate(180deg);
}

/*  ####### RESPONSIVE SECTION #######  */
@media screen and (max-width: 1050px) {
  /* .hero {
    height: 700px;
  }
  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
  } */

  .intro-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
    padding: 0px 30px;
  }
  .intro-1 {
    width: 100%;
  }
  .intro-2 {
    width: 70%;
    height: 300px;
  }
  .intro-2 img {
    width: 100%;
    height: 100%;
    margin-right: 15px;
  }
}

@media screen and (max-width: 950px) {
  .hero {
    flex-direction: column-reverse;
    /* height: 600px; */
    /* height: auto; */
    /* height: 100%; */
    height: auto;
    margin-bottom: 40px;
    /* border: 2px solid red; */
    margin-top: 70px;
  }
  .child {
    width: 100%;
  }
  .child1 {
    padding: 50px 20px;
  }
  .child2 img {
    /* width: 100%; */
    height: 400px;
  }
  /* ##### index  choose us bottom #####  */
  .choose_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .choose_data {
    width: 100%;
  }
  .choose_image {
    width: 80%;
    margin: 0px auto;
    height: 300px;
  }

  .content_2 {
    flex-direction: column-reverse;
  }
  .choose_content {
    display: flex;
    flex-direction: column-reverse;
  }
  .content_2 {
    display: flex;
    flex-direction: column;
  }

  /* .intro-wrapper img {
    width: 100%;
    height: 300px;
  } */
}

@media screen and (max-width: 860px) {
  .services_container {
    gap: 30px;
  }
}

@media (min-width: 769px) {
  /* Desktop hover styles */
  .services_child:hover h1,
  .services_child:hover img {
    opacity: 0;
  }

  .services_child:hover p {
    display: block; /* Show paragraph on hover */
    opacity: 1;
    visibility: visible;
  }

  .services_child:hover {
    background-image: linear-gradient(
      to right bottom,
      #24c2f8,
      #0084ff,
      #005cff,
      #0b0df4
    );
  }

  .services_child {
    height: 250px;
    width: 280px;
  }
}

@media screen and (max-width: 768px) {
  .about_container h1 {
    font-size: 2rem;
    color: white;
    line-height: 45px;
    font-family: Roboto-Medium;
    /* padding: 30px; */
  }
  .about_container {
    padding: 30px;
  }
  .hero {
    /* height: 500px; */
  }
  /* .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
  } */

  .work-wrapper-child {
    display: flex;
    flex-direction: column;
  }
  .work-child {
    width: 100%;
  }

  .avail-section {
    display: block; /* Stacks the content vertically */
    height: auto; /* Adjusts height automatically to fit the content */
    position: relative; /* Removes sticky positioning for smaller screens */
  }

  .avail-content-container {
    padding: 30px;
    overflow-y: visible;

    max-height: none;
    padding-bottom: 0px;
  }
  .avail-image-container img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
  }
  .faq-wrapper {
    flex-direction: column;
  }
  .faq-child {
    width: 100%;
  }
  .wrapper p {
    font-size: 16px;
  }
  .intro-1 h2 {
    font-size: 30px;
  }
  .swiper h1 {
    font-size: 2rem;
    line-height: 45px;
  }
  .swiper {
    padding: 30px !important;
  }
  .container {
    padding: 30px;
  }
  .container h1 {
    font-size: 2rem;
    font-family: Roboto-Medium;
    line-height: 45px;
  }
  .faq-heading h1 {
    font-size: 17px;
  }

  .services_child {
    min-height: auto;
  }
  .read-more-btn {
    display: block;
  }

  /* Dynamic height for .card-open on smaller screens */
  .services_child.card-open {
    height: auto;
  }

  /* Show paragraph and hide other elements in card-open state */
  .services_child.card-open p {
    display: block; /* Show paragraph on mobile */
    opacity: 1;
    visibility: visible;
  }

  .services_child.card-open h1,
  .services_child.card-open img {
    display: none; /* Hide heading and image */
  }

  .services_child.card-open {
    background-image: linear-gradient(
      to right bottom,
      #24c2f8,
      #0084ff,
      #005cff,
      #0b0df4
    );
  }
}

@media screen and (max-width: 593px) {
  .intro-2 {
    width: 95%;
    height: 300px;
  }
  .counter_wrapper {
    gap: 20px;
  }
  .counter_wrapper span {
    font-size: 1rem !important;
  }
  #counter-text {
    font-size: 0.7rem !important;
  }
  .choose_image {
    width: 100%;
    height: 200px;
  }
  .choose_image img {
    width: 100%;
    height: 200px;
  }
  .hero h2 {
    font-size: 1rem;
  }

  .collaboration-child-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
  .collaboration-child {
    width: 100%;
  }
  .services_child {
    height: auto;
  }
  .services_container {
    padding: 0px 10px;
  }
}

@media screen and (max-width: 480px) {
  .container h2 {
    font-family: "Montserrat-Regular", sans-serif;
  }

  .services_container {
    width: 100%;
  }
  .services_child {
    width: 100%;
    height: auto;
  }

  .collaboration-child-data h2 {
    font-size: 1rem;
  }
}
