* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

body {
  font-family: Arial, sans-serif;
  /* margin: 0;
  padding: 0; */
}
.wrapper {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.wrapper h1,
.services_container h1,
.testimonial_wrapper h1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.wrapper p,
.service_choose_us p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.testimonial_wrapper p {
  font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.testimonial_wrapper h5 {
  font-family: "Josefin Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.wrapper h2,
.service_choose_us h5 .testimonial_wrapper h5 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* CONTENT SECTION  */
.content {
  padding: 20px;
  text-align: center;
  /* border: 2px solid black; */
}

/* #################################### NAVBAR SECTION ############################################  */

/* ################################################ HERO SECTION ########################################  */

.about {
  width: 100%;
  height: 600px;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: url(../images/servicce.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-left: 30px;
  gap: 20px;
  color: white;
  /* color: grey; */
  /* margin-bottom: 50px; */
  /* border: 2px solid red; */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.about h1 {
  font-size: 3rem;
}

.about p {
  font-size: 1.25rem;
}

/* ############################################# OUR SERVICE #############################  */
.serive_counter_wrapper {
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  /* padding: 80px 30px; */
  margin-bottom: 100px;

  color: white;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.service_counter_child {
  width: 50%;
  /* border: 2px solid black; */
  padding: 150px 30px;
  /* height: 100%; */
  background-color: rgb(7, 3, 53, 1);
  /* flex-grow: 1 1 400px; */
  /* display: flex; */
}
.service_content {
  color: black;
  background-color: white;
}
.service_counter_child h1 {
  margin-bottom: 30px;
  font-size: 2.5rem;
}

/* .service_counter {
  padding: 0px;
  height: 100%;
  border: 2px solid red;
} */
.counter_wrapper_service {
  /* border: 2px solid red; */
  background-color: rgb(7, 3, 53, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 50px;
  /* border: 2px solid red; */
}
.counter-text {
  /* margin-top: 10px; */
}
.counter_wrapper_service span {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  /* margin-top: 30px; */
}

.counter {
  color: white;
  background-color: rgb(7, 3, 53, 1);
  /* border: 2px solid white; */
  text-align: center;
  /* border: 2px solid white; */
}

.service_counter {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid green; */
}

/* ################### our services ##############  */
.about_container {
  text-align: center;

  margin-bottom: 30px;
}

.about_container h2 {
  font-size: 2rem;
}

.circle-container {
  display: flex;
  justify-content: center; /* Center the circles horizontally */
  gap: 10px; /* Space between the circles */
  margin-top: 5px; /* Space between the heading and the circles */
}

.circle {
  width: 15px; /* Set the width of the circles */
  height: 15px; /* Set the height of the circles (same as width for round shape) */
  background-color: #333; /* Background color of the circles */
  border-radius: 50%; /* Makes the div round */
}

/*  ########################################### swipeer ################################################  */

.swiper {
  width: 100%;
  /* height: 100%; */
  /* border: 2px solid red; */
  margin-bottom: 80px;
  /* padding: 0px 40px; */
  background: #f7f7f7;
  padding: 50px 40px !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px; */
  border-radius: 15px;
  height: fit-content;
  /* border: 2px solid blue; */
  flex-direction: column;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.swiper-slide-image {
  width: 100%;
  height: 200px;
  /* border: 2px solid blue; */
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
}

.swiper-slide img {
  /* display: block; */
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  border-radius: 15px;
}

.swiper-slide p {
  margin-top: 10px;
  /* border: 2px solid black; */
}
/* ############################### why choose us  ########################################  */

.service_choose_us {
  position: relative;
  background-image: url("../images/service.jpg"); /* Replace with your actual image URL */
  background-size: cover;
  background-position: center;
  /* width: 100%;  */
  /* height: 100vh; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 30px 0px 30px 0px;
  /* background-attachment: fixed; */
  text-align: center;
  margin-bottom: 100px;
}

.service_choose_us::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.service_choose_us > * {
  position: relative;
  z-index: 2;
  color: white;
  padding: 20px;
}

.services_container {
  /* border: 2px solid red; */
  display: flex;
  width: 80%;
  gap: 50px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.services_child {
  max-width: 250px;
  height: 350px;
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 20px 10px;
  border: 1px solid white;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.services_child img {
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
  /* border: 1px solid red; */
}

.services_child h1 {
  margin-bottom: 10px;
}

/* ##############3 testimonial ############## */

.testimonial_wrapper {
  /* border: 2px solid red; */
  padding: 50px 20px;
  background-color: #f7f7f7;
  margin-bottom: 100px;
}
.testimonial_wrapper h1 {
  font-size: 2rem;
}

.testimonial_wrapper h2 {
  margin-bottom: 30px;
  /* border: 2px solid red; */
}
.testimonial_slider {
  /* border: 2px solid blue; */
  width: 100%;
  margin: 0px auto;
  display: flex;
  /* flex-grow: 1; */
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  text-align: center;
}

.testimonial_item {
  /* border: 2px solid black; */
  max-width: 250px;
  /* min-width: 150px; */
  /* gap: 30px; */
  display: flex;
  flex-direction: column;
  /* flex-grow: 1; */
}
.testimonial_item h5 {
  margin: 10px 0px;
}

.testimonial_item img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 20px auto;
}

/* ############################## why choose us content  ##################################### */
.about_choose_container {
  width: 80%;
  margin: 0px auto 50px;
  /* border: 2px solid red; */
}

.about_choose_content {
  /* padding: 20px; */
  display: flex;

  /* height: auto; */
  gap: 30px;
  /* border: 2px solid yellow; */
  margin-bottom: 20px;
  /* flex-wrap: wrap; */
  justify-content: center;
  /* border: 2px solid black; */
}

.about_choose_image {
  max-width: 450px;
  max-height: 100%;
  /* border: 2px solid green; */
}
.about_choose_data {
  max-width: 450px;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about_choose_image img {
  width: 100%;
  height: 100%;
}

.check {
  /* border: 2px solid red; */
  width: 100%;
  margin-top: 0px;
  padding: 50px 20px;
  /* background-color: #d3d3d3; */
  background-color: #f7f7f7;
}

/* .details {
    color: white;
  } */
/* .details h1 {
    font-size: 2rem;
  } */

/*  ######################################## FOOTER SECTION ####################################  */

/*  ################################ RESPONSIVE SECTION ################################  */
@media screen and (max-width: 950px) {
  .about_choose_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 815px) {
  .testimonial_item {
    max-width: 100%;
    text-align: left;
  }
  .testimonial_item img {
    margin: 20px 0px;
  }
}

@media screen and (max-width: 768px) {
  .card-container {
    display: flex;
    gap: 20px;
  }
  .card {
    max-width: 250px;
  }

  .choose_us {
    background-attachment: scroll;
  }
  .content_2 {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 768px) {
  .serive_counter_wrapper {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .service_counter_child {
    width: 100%;
  }
}
@media screen and (max-width: 593px) {
  .swiper-slide {
    height: 280px !important;
    /* border: 2px solid red; */
  }
}
@media screen and (max-width: 480px) {
  .swiper-slide {
    max-height: 230px;
    text-align: center;
    font-size: 14px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px; */
    border-radius: 15px;
    height: fit-content;
    /* border: 2px solid blue; */
    flex-direction: column;
    padding: 5px !important;
  }
  .swiper-slide-image {
    width: 100%;
    height: 150px;
    /* border: 2px solid blue; */
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
  }

  .swiper-slide img {
    width: 100%;
    height: 100%;

    border-radius: 15px;
  }
}
