* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}
.wrapper {
  width: 100%;
  margin-top: 90px;

  display: flex;
  flex-direction: column;
}
.wrapper h1 {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 2rem;
  color: #000042;
}
.wrapper p {
  font-family: "Montserrat-Regular", sans-serif;
  line-height: 25px;
  font-size: 1rem;
}

.wrapper h2 {
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 1.25rem;
  color: #000042;
}
.wrapper h5 {
  font-family: "Montserrat-Bold", sans-serif;
}
.about h1,
.about h2,
.service_choose_us h1 {
  color: white;
}

/* CONTENT SECTION  */
.content {
  padding: 20px;
  text-align: center;
}

/* ################################################ HERO SECTION ########################################  */

.about {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: url(../../images/mohamed-aziz-landoulsi-EGMTqLQHLYk-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  padding-left: 30px;
  gap: 20px;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* ############################################# OUR SERVICE #############################  */
.serive_counter_wrapper {
  width: 100%;
  display: flex;
  margin-bottom: 100px;
  color: white;
  flex-wrap: wrap;
}

.service_counter_child {
  width: 50%;
  padding: 60px 30px;
  background-color: rgb(7, 3, 53, 1);
}
.service_content {
  color: black;
  background-color: white;
}
.service_counter_child h1 {
  margin-bottom: 30px;
}

.counter_wrapper_service {
  background-color: rgb(7, 3, 53, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 50px;
}
#counter-text {
  font-size: 1rem !important;
}
.counter_wrapper_service span {
  font-family: Montserrat-Medium, sans-serif;
  font-size: 2rem;
}

.counter {
  color: white;
  background-color: rgb(7, 3, 53, 1);
  text-align: center;
}

.service_counter {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ################### our services ##############  */
.about_container {
  text-align: center;
  margin-bottom: 30px;
}

.about_container h2 {
  font-size: 2rem;
}

.circle-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 5px;
}

.circle {
  width: 15px;
  height: 15px;
  background-color: #000432;
  border-radius: 50%;
}

/*  ########################################### swipeer ################################################  */

.swiper {
  width: 100%;
  margin-bottom: 80px;
  background: #f7f7f7;
  padding: 50px 40px !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  height: fit-content;
  flex-direction: column;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.swiper-slide a {
  text-decoration: none;
  /* border: 2px solid red; */
  width: 100%;
  color: black;
}
.swiper-slide-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.swiper-slide p {
  margin-top: 10px;
}
/* ############################### why choose us  ########################################  */

.service_choose_us {
  position: relative;
  background-image: url("../../images/service.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px 30px 0px;
  text-align: center;
  margin-bottom: 100px;
}

.service_choose_us::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.service_choose_us h5 {
  font-size: 14px;
}

.service_choose_us > * {
  position: relative;
  z-index: 2;
  color: white;
  padding: 20px;
}

.services_container {
  display: flex;
  width: 80%;
  gap: 50px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.services_child {
  max-width: 280px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  border: 1px solid white;
  border-radius: 8px;
}

.services_child img {
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
  border-radius: 6px;
}

.services_child h1 {
  margin-bottom: 10px;
}

/* ##############3 testimonial ############## */

.testimonial_wrapper {
  padding: 50px 20px;
  background-color: #f7f7f7;
  margin-bottom: 60px;
}
.testimonial_wrapper h1 {
  font-size: 2rem;
}

.testimonial_wrapper h2 {
  margin-bottom: 30px;
}
.testimonial_slider {
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  text-align: center;
}

.testimonial_item {
  max-width: 250px;
  display: flex;
  flex-direction: column;
}
.testimonial_item h5 {
  margin: 10px 0px;
}

.testimonial_item img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 20px auto;
}

/* ############################## why choose us content  ##################################### */
.about_choose_container {
  width: 80%;
  margin: 0px auto 50px;
}

.about_choose_content {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
  justify-content: center;
}

.about_choose_image {
  max-width: 450px;
  max-height: 100%;
}
.about_choose_data {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about_choose_image img {
  width: 100%;
  height: 100%;
}

.check {
  width: 100%;
  margin-top: 0px;
  padding: 50px 20px;
  background-color: #f7f7f7;
}

/*  ################################ RESPONSIVE SECTION ################################  */
@media screen and (max-width: 1025px) {
  .counter_wrapper_service span {
    font-size: 1rem !important;
  }
  #counter-text {
    font-size: 0.7rem !important;
  }
}
@media screen and (max-width: 966px) {
  .swiper-slide {
    height: 280px !important;
  }
}

@media screen and (max-width: 950px) {
  .about_choose_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 815px) {
  .testimonial_item {
    max-width: 100%;
    text-align: left;
  }
  .testimonial_item img {
    margin: 20px 0px;
  }
  .serive_counter_wrapper {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .service_counter_child {
    width: 100%;
  }
  .service_counter {
    padding: 80px 0px;
  }
}

@media screen and (max-width: 768px) {
  .about {
    height: 500px;
  }
  .card-container {
    display: flex;
    gap: 20px;
  }
  .card {
    max-width: 250px;
  }

  .choose_us {
    background-attachment: scroll;
  }
  .content_2 {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 593px) {
  .counter_wrapper_service {
    gap: 20px;
  }
  .counter_wrapper_service span {
    font-size: 1rem !important;
  }
  #counter-text {
    font-size: 0.7rem !important;
  }
}
@media screen and (max-width: 480px) {
  .about_container h2 {
    font-family: "Montserrat-Regular", sans-serif;
  }
  .services_container {
    width: 100%;
  }
  .services_child {
    width: 100%;
  }
  .about {
    height: 400px;
  }
}
