* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 90px;
}
.wrapper h1 {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 2rem;
}
.wrapper p {
  font-family: "Montserrat-Regular", sans-serif;
  line-height: 25px;
  font-size: 1rem;
}

.wrapper h2 {
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 1.25rem;
}

/* CONTENT SECTION  */
.content {
  padding: 20px;
  text-align: center;
}

/* ################################################ HERO SECTION ########################################  */

.success_hero {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: url(../../images/success-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-left: 30px;
  gap: 20px;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* ############################################# success project #############################  */

.service_choose_us {
  position: relative;
  background-image: url("../../images/success.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px 30px 0px;
  text-align: center;
  margin-bottom: 50px;
}

.service_choose_us::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.service_choose_us > * {
  position: relative;
  z-index: 2;
  color: white;
  padding: 20px;
}

.services_container {
  display: flex;
  width: 80%;
  gap: 50px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.services_child {
  max-width: 300px;
  height: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  border: 1px solid white;
  border-radius: 6px;
}

.services_child img {
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.services_child h1 {
  margin-bottom: 10px;
}

/* ##################### choose use content ################################ */
.choose_container {
  width: 80%;
  margin: 0px auto;
}
.choose_container h1 {
  font-family: Montserrat-Bold;
  font-weight: 500;
  font-style: normal;
  color: #000432;
}

.choose_content {
  padding: 20px;
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
  justify-content: center;
  width: 100%;
}

.choose_image {
  width: 50%;
  height: 350px;
}

.choose_image img {
  width: 100%;
  height: 100%;
}

.choose_data {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.choose_image img {
  width: 100%;
  height: 100%;
}

/*  ################################ RESPONSIVE SECTION ################################  */
@media screen and (max-width: 950px) {
  /* ################### index  choose us bottom #############  */
  .choose_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .choose_data {
    width: 100%;
  }
  .choose_image {
    width: 100%;
  }

  .choose_content {
    display: flex;
    flex-direction: column-reverse;
  }
  .content_2 {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .success_hero {
    height: 500px;
  }
}
@media screen and (max-width: 593px) {
  .choose_image {
    width: 100%;
    height: 280px;
  }
  .choose_image img {
    width: 100%;
    height: 100%;
  }
  .choose_content {
    padding: 0px !important;
  }
}

@media screen and (max-width: 480px) {
  .services_container {
    width: 100%;
  }
  .services_child {
    width: 100%;
  }
  .choose_container {
    max-width: 90%;
    margin: 0px auto;
  }
  .success_hero {
    height: 400px;
  }
}
